<h3>Tasklists</h3>
<% @project.tasklists.each do |tasklist| %>
 <div class="well">
<p><strong><%= tasklist.name %></strong>
	<%= link_to '[X]', [tasklist.project, tasklist],
				method: :delete,
				data: {confirm: 'You sure you want to delete this?'} %>
</p>
 </div>
<% end %>
